.table-container {
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

thead {
  background: #243b55;
  color: white;
}

th, td {
  padding: 15px;
  text-align: center;
}

tbody tr {
  transition: 0.3s;
}

tbody tr:hover {
  background: #f2f2f2;
}

.edit {
  background: #00c6ff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.delete {
  background: #ff4d4d;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit:hover {
  transform: scale(1.1);
}

.delete:hover {
  transform: scale(1.1);
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table-container {
  flex: 1;
}